<configuration>
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- This is the default sejda-console logging configuration -->
	<!-- by default, this config provides logging to stdout -->

	<!-- example: logging to a file -->
	<!-- <appender name="FILE" class="ch.qos.logback.core.FileAppender"> <file>sejda-console.log</file> 
		<encoder> <pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern> 
		</encoder> </appender> -->

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger name="org.sejda" level="DEBUG" />
	<logger name="org.sejda.sambox" level="WARN" />
	<logger name="org.hibernate.validator" level="WARN" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<!-- <appender-ref ref="FILE" /> -->
	</root>
</configuration>