h2 {
	background-color:#EFF9D0;
	border:1px dotted #4F7500;
	color: #4F7500;
}

h3 {
	background-color:#EFFED0;
	border:1px dotted #4F7500;
	color: #4F7500;
}

#breadcrumbs {
	color:#4F7500;
	background-color:#FFFFFF;
	border-bottom:1px solid #F26522;
	border-top:1px solid #F26522;
}

table.bodyTable th {
	background-color:#EFF9D0;
	border-color:#FFFFFF;
	color:#4F7500;
	font-weight:bold;
	text-align:left;
}

a:link {
	color:#F26522;
}

a:hover {
	font-weight:bold;
}