<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</encoder>
	</appender>

	<logger name="org.sejda" level="TRACE" />
	<logger name="org.sejda.sambox" level="DEBUG" />
	<logger name="org.icepdf" level="INFO" />
	<logger name="org.hibernate" level="INFO" />

	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>