<settings>
  <servers>
  	<!-- Server definitions required for deployment to Maven Central -->
  	<!-- not deploying snapshots yet
    <server>
      <id>sonatype-nexus-snapshots</id>
      <username>sejda</username>
      <password>SONATYPE-OSS-JIRA-PWD</password>
    </server>
     -->
    <server>
      <id>sonatype-nexus-staging</id>
      <username>sejda</username>
      <password>SONATYPE-OSS-JIRA-PWD</password>
    </server>
  </servers>
</settings>