<settings>
  <servers>
  	<!-- Following 2 server definitions are required for deployment to Maven Central -->
    <server>
      <id>sonatype-nexus-snapshots</id>
      <username>sejda</username>
      <password>SEJDA-JIRA-PWD</password>
    </server>
    <server>
      <id>sonatype-nexus-staging</id>
      <username>sejda</username>
      <password>SEJDA-JIRA-PWD</password>
    </server>
  </servers>
</settings>